body{
    background-color: lightblue;
    font-family:Arial, Helvetica, sans-serif
}

h1{
    color:black;
    text-align:center;
    font-weight: bold;
}

h2{
    color: blue;
    text-align:center;
    font-weight: bold;
    text-decoration: underline;
    font: size 72px;
}

p{
    font-family:'Courier New', Courier, monospace
}

h3{
    color:darkred;
    text-align:start
}