body{
    background-color: lightblue;
    font-family:Arial, Helvetica, sans-serif
}

h1{
    color:black;
    text-align:center;
    font-weight: bold;
}

h2{
    color: blue;
    text-align:center;
    font-weight: bold;
    text-decoration: underline;
    font: size 72px;
}

p{
    font-family:'Courier New', Courier, monospace
}

h3{
    color:darkred;
    text-align:start
}
.common{
    background-color: transparent;
    border: 2px solid white;
    position: absolute;
}

.header{
    top:5px;
    left: 15px;
    right: 25px;
    height: 100px;
}

.left{
    top: 115px;
    left: 15px;
    width: 110px;
    bottom: 100px;
    Height: 1000px
}
.right{
    top: 115px;
    Right: 15px;
    width: 110px;
    bottom: 100px;
    Height: 1000px;
}

.main{
    top: 115px;
    left: 130px;
    right: 40px;
    bottom: 100px;
    Height:1000px;
}
.footer{
    bottom: 5px;
    height: 25px;
    Left: 15px;
    Right: 25px;
    Position: fixed;
    z-index: 1;
}